.form__container {
     width: 100%;
     height: 100%;
     padding: 0 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
}

.form__data {
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 30px;
}

.form__title {
     width: 100%;
     height: 90px;
     background: var(--rosa-dark);
     color: white;
     padding: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 10px;
     border-radius: 10px;
}

.form__title h3 {
     max-width: 250px;
     line-height: 30px;
}

.form__inputs {
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 20px;
}


.form__inputbox {
     position: relative;
}

.form__inputbox input,
.form__inputbox select {
     font-family: brokman-light;
     font-size: 17px;
     width: 100%;
     padding: 16px;
     border: solid 1px black;
     border-radius: 10px;
}

.form__inputbox span {
     font-family: brokman-light;
     padding: 18px 22px;
     position: absolute;
     font-size: 17px;
     left: 0 ;
     pointer-events: none;
     transition: 0.4s;
}

.form__inputbox input:valid ~ span,
.form__inputbox input:focus ~ span {
     background: white;
     transform: translateY(-10px) translateX(15px);
     font-size: 12px;
     padding: 5px 15px;
}

.form__btn {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px;
}

.form__btn img {
     width: 100px !important;
}
