.login__title {
     width: 100%;
     background:  var(--rosa-dark);
     color: white;
     padding: 20px;
     display: flex; flex-direction: column;
     align-items: center;
     gap: 15px;
     border-radius: 10px;
}

.login__title h2 {
     line-height: 30px;
     font-size: 26px;
}

.login__title p {
     font-family: brokman-light;
     line-height: 20px;
     font-size: 18px;
}

.login__inputs {
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 30px;
}

.login__inputbox {
     position: relative;
}

.login__inputbox input {
     font-family: brokman-light;
     font-size: 20px;
     width: 100%;
     padding: 20px;
     border: solid 1px black;
     border-radius: 10px;
}

.login__inputbox span {
     font-family: brokman-light;
     padding: 21px 15px;
     position: absolute;
     font-size: 20px;
     left: 0 ;
     pointer-events: none;
     transition: 0.4s;
}

.login__inputbox input:valid ~ span,
.login__inputbox input:focus ~ span {
     background: white;
     transform: translateY(-14px) translateX(15px);
     font-size: 14px;
     padding: 5px 15px;
}